/* Global
*****************************************************/
.hide {
	display: none !important;
}
.no-float {
	float: none !important;
}
.float-right {
	float: right !important;
}
.float-left {
	float: left !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-border {
	border: 0 none !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.no-top-border {
	border-top: 0 none !important;
	border-radius-topleft: 0 !important;
	border-radius-topright: 0 !important;
	-moz-border-radius-topleft: 0 !important;
	-moz-border-radius-topright: 0 !important;
	-webkit-border-top-right-radius: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
}
.no-left-border {
	border-left: 0 none !important;
	border-radius-topleft: 0 !important;
	border-radius-bottomleft: 0 !important;
	-moz-border-radius-topleft: 0 !important;
	-moz-border-radius-bottomleft: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
}
.no-bottom-border {
	border-bottom: 0 none !important;
	border-radius-bottomleft: 0 !important;
	border-radius-bottomright: 0 !important;
	-moz-border-radius-bottomleft: 0 !important;
	-moz-border-radius-bottomright: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
}
.no-right-border {
	border-right: 0 none !important;
	border-radius-topright: 0 !important;
	border-radius-bottomright: 0 !important;
	-moz-border-radius-topright: 0 !important;
	-moz-border-radius-bottomright: 0 !important;
	-webkit-border-top-right-radius: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
}

.no-top-left-radius {
	border-radius-topleft: 0 !important;
	-moz-border-radius-topleft: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
}
.no-top-right-radius {
	border-radius-topright: 0 !important;
	-moz-border-radius-topright: 0 !important;
	-webkit-border-top-right-radius: 0 !important;
}
.no-bottom-left-radius {
	border-radius-bottomleft: 0 !important;
	-moz-border-radius-bottomleft: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
}
.no-bottom-right-radius {
	border-radius-bottomright: 0 !important;
	-moz-border-radius-bottomright: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
}
.wrap-centered {
	margin: 0 auto;
}
.new-item {
	background-color: #FFF3B0;
}
.badge-counter,
.badge-counter-rt {
    background: none repeat scroll 0 0 #DF0000;
    border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px;
    color: #FFF;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 4px;
}
.badge-counter-rt {
    position: absolute;
    right: -9px;
    top: -4px;
    z-index: 300;
}
.text-wrap {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* Section Header */
.section-header {
    background-color: #F2F2F2;
    border-bottom: medium none;
    border-top: 1px solid #E2E2E2;
    padding: 4px 5px 5px;
}

/* Label Over (jQuery Plugin uses this) */
.labelover-apply { 
	color: #ccc; 
	font-style: italic;
	position: absolute; 
	top: 7px; 
	left: 5px;
	z-index: 100;
}

/* Channel Icons */
.channel-icon {
	display: inline-block;
	height: 11px; 
	line-height: 13px; 
	width: 11px;	
}
.channel-icon-large {
	height: 30px;
}

/* Channel Icons - Small */
.aol-s {
	background: url(../images/sprite_channels.gif) 0 -2789px no-repeat;
}
.exchange-s {
	background: url(../images/sprite_channels.gif) 0 -2879px no-repeat;
}
.facebook-s {
	background: url(../images/sprite_channels.gif) 0 -2969px no-repeat;
}
.gmail-s {
	background: url(../images/sprite_channels.gif) 0 -3149px no-repeat;
}
.hotmail-s {
	background: url(../images/sprite_channels.gif) 0 -3239px no-repeat;
}
.hyves-s {
	background: url(../images/sprite_channels.gif) 0 -3329px no-repeat;
}
.linkedin-s {
	background: url(../images/sprite_channels.gif) 0 -3419px no-repeat;
}
.twitter-s {
	background: url(../images/sprite_channels.gif) 0 -3509px no-repeat;
}
.yahoo-s {
	background: url(../images/sprite_channels.gif) 0 -3599px no-repeat;
}
.inbox2-s {
	background: url(../images/sprite_channels.gif) 0 -3688px no-repeat;
}
.mail-s {
	background: url(../images/sprite_channels.gif) 0 -3779px no-repeat;
}
.draftmail-s {
	background: url(../images/sprite_channels.gif) 0 -3867px no-repeat;
}
.yammer-s {
	background: url(../images/sprite_channels.gif) 0 -3959px no-repeat;
}

/* Channel Icons - Small (gray) */
.aol-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4139px no-repeat;
}
.exchange-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4229px no-repeat;
}
.facebook-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4319px no-repeat;
}
.gmail-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4500px no-repeat;
}
.hotmail-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4590px no-repeat;
}
.hyves-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4679px no-repeat;
}
.linkedin-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4769px no-repeat;
}
.twitter-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4859px no-repeat;
}
.yahoo-gray-s {
	background: url(../images/sprite_channels.gif) 0 -4949px no-repeat;
}
.inbox2-gray-s {
	background: url(../images/sprite_channels.gif) 0 -5039px no-repeat;
}
.mail-gray-s {
	background: url(../images/sprite_channels.gif) 0 -5127px no-repeat;
}
.draftmail-gray-s {
	background: url(../images/sprite_channels.gif) 0 -5307px no-repeat;
}
.yammer-gray-s {
	background: url(../images/sprite_channels.gif) 0 -5219px no-repeat;
}

/* Channel Icons - Large */
.aol-l {
	background: url(../images/sprite_channels.gif) 0 6px no-repeat;
}
.exchange-l {
	background: url(../images/sprite_channels.gif) 0 -84px no-repeat;
}
.facebook-l {
	background: url(../images/sprite_channels.gif) 0 -171px no-repeat;
}
.gmail-l {
	background: url(../images/sprite_channels.gif) 0 -264px no-repeat;
}
.hotmail-l {
	background: url(../images/sprite_channels.gif) 0 -352px no-repeat;
}
.hyves-l {
	background: url(../images/sprite_channels.gif) 0 -443px no-repeat;
}
.linkedin-l {
	background: url(../images/sprite_channels.gif) 0 -534px no-repeat;
}
.twitter-l {
	background: url(../images/sprite_channels.gif) 0 -624px no-repeat;
}
.yahoo-l {
	background: url(../images/sprite_channels.gif) 0 -712px no-repeat;
}
.yammer-l {
	background: url(../images/sprite_channels.gif) 0 -805px no-repeat;
}

/* Selectmenu (jQuery Plugin uses this) */
.aol-s ui-selectmenu-item-icon,
.exchange-s ui-selectmenu-item-icon,
.facebook-s ui-selectmenu-item-icon,
.gmail-s ui-selectmenu-item-icon,
.hotmail-s ui-selectmenu-item-icon,
.hyves-s ui-selectmenu-item-icon,
.linkedin-s ui-selectmenu-item-icon,
.twitter-s ui-selectmenu-item-icon,
.yahoo-s ui-selectmenu-item-icon,
.inbox2-s ui-selectmenu-item-icon,
.mail-s ui-selectmenu-item-icon,
.yammer-s ui-selectmenu-item-icon {	
}

/* Social Media Hyperlink List */
ul.social-media-list {
    border-top: 1px solid #e0e0e0;
}
ul.social-media-list li {
    border-bottom: 1px solid #e0e0e0;    
}
ul.social-media-list li a {
    background-repeat: no-repeat;
    background-position: 6px center;
    color: #333;
    display: block;
    padding: 9px 33px;
    text-decoration: none;
}
ul.social-media-list li a.email {
    background-image: url(../images/icons/social/email.gif);
}
ul.social-media-list li a.facebook {
    background-image: url(../images/icons/social/facebook.gif);
}
ul.social-media-list li a.twitter {
    background-image: url(../images/icons/social/twitter.gif);
}
ul.social-media-list li a.linkedin {
    background-image: url(../images/icons/social/linkedin.gif);
}

/* Icons */
.icon {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.icon-unread {
	background-image: url(../images/icons/mail-new.png);
	background-repeat: no-repeat;
}
.icon-inbox {
	background-image: url(../images/icons/inbox.png);
	background-repeat: no-repeat;
}
.icon-inbox2 {
	background-image: url(../images/icons/inbox2.png);
	background-repeat: no-repeat;
}
.icon-archive {
	background-image: url(../images/icons/mails-stack.png);
	background-repeat: no-repeat;
}
.icon-received {
	background-image: url(../images/icons/mail-opened.png);
	background-repeat: no-repeat;
}
.icon-sent {
	background-image: url(../images/icons/mail-sent.png);
	background-repeat: no-repeat;
}
.icon-drafts {
	background-image: url(../images/icons/mail-draft.png);
	background-repeat: no-repeat;
}
.icon-trash {
	background-image: url(../images/icons/trash.gif);
	background-repeat: no-repeat;
}
.icon-present {
	background-image: url(../images/icons/present.png);
	background-repeat: no-repeat;
}
.icon-starred {
	background-image: url(../images/icons/starred.png);
	background-repeat: no-repeat;
}
.icon-unstarred {
	background-image: url(../images/icons/unstarred.png);
	background-repeat: no-repeat;
}
.icon-todo {
	background-image: url(../images/icons/todo.png);
	background-repeat: no-repeat;
}
.icon-waitingfor {
	background-image: url(../images/icons/waiting-for.png);
	background-repeat: no-repeat;
}
.icon-someday {
	background-image: url(../images/icons/someday.png);
	background-repeat: no-repeat;
}
.icon-cross {
	background-image: url(../images/icons/cross.png);
	background-repeat: no-repeat;
}
.icon-reply {
	background-image: url(../images/icons/reply.png);
	background-repeat: no-repeat;
}
.icon-replyall {
	background-image: url(../images/icons/reply-all.png);
	background-repeat: no-repeat;
}
.icon-forward {
	background-image: url(../images/icons/forward.png);
	background-repeat: no-repeat;
}
.icon-attachment {
    background-image: url(../images/icons/paper-clip.png);
	background-repeat: no-repeat;
}
.icon-help {
	background-image: url(../images/icons/help.png);
	background-repeat: no-repeat;
}
.icon-retweet {
	background-image: url(../images/icons/retweet.png);
	background-repeat: no-repeat;
}
.icon-label {
	background-image: url(../images/icons/label.png);
	background-repeat: no-repeat;
}
.icon-bitly {
	background-image: url(../images/icons/bitly.png);
	background-repeat: no-repeat;
	width: 20px !important;
}
.icon-back {
	background-image: url(../images/icons/back.png);
	background-repeat: no-repeat;
}
.icon-home {
	background-image: url(../images/icons/home.png);
	background-repeat: no-repeat;
}
.icon-contact {
	background-image: url(../images/icons/user-white.png);
	background-repeat: no-repeat;
}
.icon-facebook {
    background-image: url(../images/icons/socialmedia/facebook.png);
	background-repeat: no-repeat;
}
.icon-twitter {
    background-image: url(../images/icons/socialmedia/twitter.png);
	background-repeat: no-repeat;
}
.icon-linkedin {
    background-image: url(../images/icons/socialmedia/linkedin.png);
	background-repeat: no-repeat;
}

/* File Types */
.filetype-icon {
	display: inline-block;
	height: 16px; 
	line-height: 16px; 
	width: 16px;	
	background: url(../images/icons/filetypes.png) no-repeat 0 0;
}

/* extends .filetype-icon */
.mdb {
	background-position: 0 -32px;
}
.xls, .xlsx {
	background-position: 0 -64px;
}
.csv {
	background-position: 0 -96px;
}
.mov, .avi, .wmv {
	background-position: 0 -128px;
}
.fla {
	background-position: 0 -160px;
}
.swf, .flv {
	background-position: 0 -192px;
}
.ai {
	background-position: 0 -224px;
}
.png, .jpeg, .jpg, .gif {
	background-position: 0 -256px;
}
.mp3, .wav, .wma {
	background-position: 0 -288px;
}
.wpl, .m3u {
	background-position: 0 -320px;
}
.msoffice {
	background-position: 0 -352px;
}
.pst {
	background-position: 0 -384px;
}
.pdf {
	background-position: 0 -416px;
}
.psd {
	background-position: 0 -448px;
}
.php {
	background-position: 0 -480px;
}
.ppt, .pps, .pptx {
	background-position: 0 -512px;
}
.cs, .vb, .sln, .csproj, .vbproj {
	background-position: 0 -544px;
}
.doc, .docx {
	background-position: 0 -576px;
}
.zip, .rar, .gzip {
	background-position: 0 -608px;
}
.rss {
	background-position: 0 -640px;
}
.bin {
	background-position: 0 -672px;
}

/* Labels */
.label-block {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 0.92em;
	height: 10px;
	line-height: 1em;
	margin-right:5px;
	padding: 2px 5px 3px;
	overflow: hidden;
}
.label-block:hover {
	text-decoration: none;
}

.label-delete {
	color: #666666;
	display: inline-block;
	margin-left: 6px;
}

/* NOTE: actually there should be no .label-color-0 class, 
   but as a current workaround we offer this css class */
.label-color-0 {
	background-color:#E9F7FF;
	border-color:#BCE7FF;
}

.label-color-1 {
	background: #9da2d4;
	border: 1px solid #7b7fa9;
}
.label-color-2 {
	background: #c8a2d4;
	border: 1px solid #9779a0;
}
.label-color-3 {
	background: #c8a2a8;
	border: 1px solid #9f8085;
}
.label-color-4 {
	background: #9da2ff;
	border: 1px solid #7578c1;
}
.label-color-5 {
	background: #f4a2a8;
	border: 1px solid #bf7d82;
}
.label-color-6 {
	background: #9dcea8;
	border: 1px solid #74997d;
}
.label-color-7 {
	background: #c8cea8;
	border: 1px solid #979c7f;
}
.label-color-8 {
	background: #dac18e;
	border: 1px solid #b6a37b;
}
.label-color-9 {
	background: #add18b;
	border: 1px solid #8fad71;
}
.label-color-10 {
	background: #de96eb;
	border: 1px solid #b278bc;
}

/* .labels-inline-list 
   - this is css wrapper class for the labels. */
.labels-inline-list {	
	display: inline;
}
.labels-inline-list ul li {
	float: left;
	margin: 0 6px 3px 0;
}

/* Contact Token
*****************************************************/
.contact-token-block {
	background: #CCC;
	border: 1px solid #666;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	display: inline-block;
	font-size: 0.92em;
	height: 10px;
	line-height: 0.92em;
	margin-right: 5px;
	padding: 2px 5px 6px;
}
.contact-token-block:hover {
	text-decoration: none;
}
.contact-token-block span {
	color: #000;
}

/* Box
*****************************************************/
.box {
}
.box .inner {
}
.box .inner:after, 
.box .header:after, 
.box .body:after {
	clear: both;
	content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
	display: block;
	font-size: xx-large;
	height :0 !important;
	line-height: 0;	
	overflow: hidden;
	visibility: hidden;	
}
.box .inner {
	position: relative;
}
.box .button-bar ul li {
	float: left;
	margin: 0 6px 0 0;
}

/* .rounded-corner-box (extends .box) */
.rounded-corner-box {
	border: 1px solid #000;
	border-radius: 4px; 
	-moz-border-radius:	4px;
	-webkit-border-radius: 4px;
}
.rounded-corner-box .header {
	border-radius-topleft: 6px; 
	border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	padding: 9px;
}
.rounded-corner-box .header h3 {
	display: inline-block;
}
.rounded-corner-box .body {
	padding: 9px;
}


/* Header Control Bar
*****************************************************/
.header-control-bar {
    padding: 6px 0;
}

/* selection list */
.header-control-bar ul.selection-list {
    display: inline-block;
    float: left;
}
.header-control-bar ul.selection-list li {
    float: left;
    margin: 0 6px 0 0;
}

/* filter tabs */
.header-control-bar ul.filter-tabs {
    display: block;
    font-size: 0.95em;
    float: right;
}
.header-control-bar ul.filter-tabs li {
    color: #6D6D6D;
    float: left;
    margin: 0 6px 0 0;
}
.header-control-bar ul.filter-tabs li a {
    text-decoration: none;
}
.header-control-bar ul.filter-tabs li a.filter-block {
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	color: #333;
	display: inline-block;
	height: 10px;
	line-height: 1em;
	padding: 2px 5px 3px;
	overflow: hidden;
}
.header-control-bar ul.filter-tabs li.active a.filter-block {
    background-color: #666;
    color: #fff;
}

/* Table List
*****************************************************/
.table-list {
	border-spacing: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
}
.table-list thead th {	
	empty-cells: show;
	font-weight: bold;
	height: 4.25ex;
	overflow: hidden;
	padding: 3px 6px 1px 3px;
	vertical-align :middle;
	white-space: nowrap;
}
.table-list tr td {
	border-bottom: 1px solid #D4D4D4;
	empty-cells: show;
	height: 4.25ex;
	overflow: hidden;
	padding: 3px 6px 1px 3px;
	vertical-align :middle;
	white-space: nowrap;
}

/* Balloon
*****************************************************/
.balloon {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 4px;
    color: #35342D;
    left: 0;
    min-height: 48px;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 230px;
}
.balloon .arrow-left {
    background: url("/i/arrowbln.png") repeat scroll 0 0 transparent;
    display: block;
    height: 38px;
    left: -13px !important;
    position: absolute;
    top: 10px;
    width: 13px;
}
.balloon .balloon-header {
    margin-bottom: 12px;
    position: relative;
}
.balloon .balloon-header .help-button {
    background: url("/i/icon-i.gif") no-repeat scroll center 3px transparent;
    display: block;
    height: 16px;
    position: absolute;
    right: 16px;
    text-indent: -9999em;
    top: 0;
    width: 16px;
}
.balloon .balloon-header .close-button {
    background: url("/i/btcls.png") repeat scroll 0 0 transparent;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 10px;
}
.balloon .balloon-header .close-button span {
    display: none;
}
.balloon .balloon-inner {
}
.balloon .balloon-form label.textfield input {
    font-size: 0.98em;
}
.balloon .balloon-form-row {
    margin-bottom: 10px;
    position: relative;
}

/* MEDIA BLOCK
*********************************/
.media-block, .media-block .body { overflow:hidden; _overflow:visible; zoom:1;}
.media-block .img {float:left; margin-right: 10px;}
.media-block .img img{display:block;}
.media-block .imgExt{float:right; margin-left: 10px;}

/* Loading Block
*****************************************************/
/* The div .loading-block is an block with loading image as background
   and loading text. This is used for example in different columns 
   like realtime and contact profile. */
.loading-block {
	display: block;
	height: 20px;
	padding-top: 50px;
	text-align: center;
}

/* Unordered List Types
*****************************************************/
ul.circle-bullet-list li {
    background: url(../images/circle-bullet.png) no-repeat left center;
    padding-left: 12px;
}

ul.thumbnail-list li {
	border: 0 none;
    display: inline-block;
    margin: 10px 21px;;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 70px;
}
ul.thumbnail-list .thumb-container {
	position: relative;
}