/* Grid - Global
*********************************************/
.mail-jedi .grid-container {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}
.mail-jedi .grid-container .row {
	display: block;
}
.mail-jedi .grid-container .row-bottom-margin {
	margin-bottom: 18px;
}
.mail-jedi .grid-container .row-resize-height {
    /* this css class is used by jQuery to automatically resize 
    the height of the components place in a row */
}
.mail-jedi .column-1,
.mail-jedi .column-2, 
.mail-jedi .column-3, 
.mail-jedi .column-4, 
.mail-jedi .column-5, 
.mail-jedi .column-6, 
.mail-jedi .column-7, 
.mail-jedi .column-8, 
.mail-jedi .column-9, 
.mail-jedi .column-10, 
.mail-jedi .column-11, 
.mail-jedi .column-12, 
.mail-jedi .column-13, 
.mail-jedi .column-14, 
.mail-jedi .column-15, 
.mail-jedi .column-16, 
.mail-jedi .column-1of3 {
	display: inline;
	float: left;
}

/* Grid - 16 Columns
*********************************************/
.mail-jedi .grid-container .column-1 {
	width: 6.25%;
}
.mail-jedi .grid-container .column-2 {
	width: 12.5%;
}
.mail-jedi .grid-container .column-3 {
	width: 18.75%;
}
.mail-jedi .grid-container .column-4 {
	width: 25%;
}
.mail-jedi .grid-container .column-5 {
	width: 31.25%;
}
.mail-jedi .grid-container .column-6 {
	width: 37.5%;
}
.mail-jedi .grid-container .column-7 {
	width: 43.75%;
}
.mail-jedi .grid-container .column-8 {
	width: 50%;
}
.mail-jedi .grid-container .column-9 {
	width: 56.25%;
}
.mail-jedi .grid-container .column-10 {
	width: 62.5%;
}
.mail-jedi .grid-container .column-11 {
	width: 68.75%;
}
.mail-jedi .grid-container .column-12 {
	width: 75%;
}
.mail-jedi .grid-container .column-13 {
	width: 81.25%;
}
.mail-jedi .grid-container .column-14 {
	width: 87.5%;
}
.mail-jedi .grid-container .column-15 {
	width: 93.75%;
}
.mail-jedi .grid-container .column-16 {
	width: 100%;
}

/* Grid - Special Columns
*********************************************/
.mail-jedi .grid-container .column-1of3 {
	width: 33.3%;
}

/* Clearfix and Clear
*********************************************/
.mail-jedi .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.mail-jedi .clearfix {
	display: inline-block;
}
 
html[xmlns] .mail-jedi .clearfix {
	display: block;
}
 
* html .mail-jedi .clearfix {
	height: 1%;
}

.mail-jedi .clear {
    clear: both;
    /*
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    */
}