/* Basics
*****************************************************/
.mail-jedi,
.mail-jedi body, 
.mail-jedi table, 
.mail-jedi input, 
.mail-jedi textarea, 
.mail-jedi select {
	font: normal 12px Tahoma, Geneva, Kalimati, sans-serif;
}
.mail-jedi body {
	color: #000;
}
.mail-jedi h1 {
	font-size: 3em;
	line-height: 1;
}
.mail-jedi h2 {
	font-size: 2em;
}
.mail-jedi h3 {
	font-size: 1.5em;
	line-height: 1.33em;
}
.mail-jedi h4 {
	font-size: 1.2em;
	line-height: 1.25;
}
.mail-jedi h5 {
	font-size: 1em;
	font-weight: bold;
}
.mail-jedi h6 {
	font-size: 1em;
	font-weight: bold;
}
.mail-jedi h1 img, 
.mail-jedi h2 img, 
.mail-jedi h3 img, 
.mail-jedi h4 img, 
.mail-jedi h5 img, 
.mail-jedi h6 img {
	margin: 0;
}
.mail-jedi a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
}
.mail-jedi a:hover {
	text-decoration: underline;
}
.mail-jedi strong {
	font-weight: bold;
}

.mail-jedi .disabled-text {
    color: #959595;
}