/* Global 
*********************************************/
.channel-icon {
	height: 13px;
}

/* icons */
.icon-bitly {
    top: 4px !important;
    position: relative !important;
}

/* Forms 
*********************************************/
.form-container .form-input-holder {
	float: left;
	padding: 0;
}


/* Components 
*********************************************/
#message-stream-container h3 {
	display: inline !important;
}

.message-list col.col-1 {
	width: 16px;
}

/* realtime */
#realtime-list-container .header-bar a.button-small {
    float: left;
    margin-right: 3px;
}
#realtime-list-container a.button-normal {
    float: left;
    margin-right: 3px;
}
#realtime-list-container .tabs-container a.button-normal {
    margin-right: 0;
}
.realtime-list li.realtime-item {
	overflow: hidden;
}

/* Button 
*********************************************/
.button-icon {
    position: static;
	top: 0;
}