/* Global 
*********************************************/
.mail-jedi .channel-icon {
	height: 13px;
}

/* icons */
.mail-jedi .icon-bitly {
    top: 4px !important;
    position: relative !important;
}

/* Forms 
*********************************************/
.mail-jedi .form-container .form-input-holder {
	float: left;
	padding: 0;
}


/* Components 
*********************************************/
.mail-jedi #message-stream-container h3 {
	display: inline !important;
}

.mail-jedi .message-list col.col-1 {
	width: 16px;
}

/* realtime */
.mail-jedi #realtime-list-container .header-bar a.button-small {
    float: left;
    margin-right: 3px;
}
.mail-jedi #realtime-list-container a.button-normal {
    float: left;
    margin-right: 3px;
}
.mail-jedi #realtime-list-container .tabs-container a.button-normal {
    margin-right: 0;
}
.mail-jedi .realtime-list li.realtime-item {
	overflow: hidden;
}

/* Button 
*********************************************/
.mail-jedi .button-icon {
    position: static;
	top: 0;
}