/* Typography : Basic
*********************************************/
.mail-jedi h1, 
.mail-jedi h2, 
.mail-jedi h3, 
.mail-jedi h4, 
.mail-jedi h5, 
.mail-jedi h6 {
	color: #373838;
}
.mail-jedi a {
	color: #39a0ef;
}

/* Global 
*********************************************/
/* Button Bar */
.mail-jedi .button-bar  {
	background-color: #ebeff6;
	border-top: 1px solid #dde5f5;
}

/* .rounded-corner-box (extends .box) */
.mail-jedi .rounded-corner-box {
	border: 1px solid #C7DFFF;
}
.mail-jedi .rounded-corner-box .header {
	border-bottom: 1px solid #D6E8FC;
	background-image:url(../images/skins/classic/box_header_bg.png);
	background-repeat: repeat-x;
}

/* Header Control Bar */
.mail-jedi .header-control-bar ul.filter-tabs li a.filter-block {
    color: #39A0EF;
}
.mail-jedi .header-control-bar ul.filter-tabs li.active a.filter-block {
    background-color: #39A0EF;
    color: #fff;
}

/* Table List */
.mail-jedi .table-list tr td {
	border-bottom: 1px solid #ddecff;
}

/* loading-block */
.mail-jedi .loading-block {
	background-image: url(../images/skins/classic/loader_large_white_bg.gif);
	background-repeat: no-repeat;
	background-position: center 12px;
}

/* unordered list types */
.mail-jedi ul.circle-bullet-list li {
    background-image: url(../images/skins/classic/circle-bullet.png);
}


/* Buttons
*********************************************/
.mail-jedi .button-normal,
.mail-jedi .button-normal-onhover {
	color: #0053a0;
}
.mail-jedi .button-normal,
.mail-jedi .button-normal-onhover:hover {
	background: url(../images/skins/classic/sprites_ui.png) no-repeat right -70px;	
}
.mail-jedi .button-normal span {
	background: url(../images/skins/classic/sprites_ui.png) no-repeat left -70px;
}

.mail-jedi .button-normal-disabled {
    background: url(../images/skins/classic/sprites_ui.png) no-repeat right -114px;
}
.mail-jedi .button-normal-disabled span {
    background: url(../images/skins/classic/sprites_ui.png) no-repeat left -114px;
}

.mail-jedi .button-small,
.mail-jedi .button-small-onhover:hover {
	background:url(../images/skins/classic/sprites_ui.png) no-repeat right 0;	
}
.mail-jedi .button-small span,
.mail-jedi .button-small-onhover:hover span {
	background: url(../images/skins/classic/sprites_ui.png) no-repeat left 0;	
}
.mail-jedi .button-has-dropdown-onhover {
	background:url(../images/skins/classic/sprites_ui.png) no-repeat right -30px;
}
.mail-jedi .button-has-dropdown,
.mail-jedi .button-has-dropdown-onhover:hover {
	background: url(../images/skins/classic/sprites_ui.png) no-repeat right 0;	
}

/* Forms
*********************************************/
.mail-jedi .form-container {
	background-color: #eef6ff;
	border: 1px solid #cde3fb;
}
.mail-jedi .form-container fieldset legend {
	color: #39A0EF;
}
.mail-jedi .form-container .form-row {
	background: #fff;
	border: 1px solid #E3EFFD;
}

/* Components : Tab Menu
*********************************************/
.mail-jedi ul#tab-menu {
	color: #fff;
}
.mail-jedi ul#tab-menu li {
	background-color: #94c3ff;
}
.mail-jedi ul#tab-menu a {
	color: #fff;
}
.mail-jedi ul#tab-menu li.active {
	background-color: #fff;
}
.mail-jedi ul#tab-menu li.active a {
	color: #7cbbfe;
}

/* Components : Option Menu
*********************************************/
.mail-jedi #option-menu {
	color: #fff;
}
.mail-jedi #option-menu li.active {
	background-color: #94c3ff;
}
.mail-jedi #option-menu a {
	color: #fff;
}

/* Components : Progress Bar
*********************************************/
.mail-jedi #progressbar .ui-widget-header {
	background-image: url(../images/skins/classic/jquery_ui_progress_bar.png);	
}

/* Components : Side Navigation
*********************************************/
.mail-jedi ul#side-nav li strong.title {
	border-bottom: 1px solid #e6e6e6;	
}
.mail-jedi ul#side-nav li.folder-list ul li:hover {
	background-color: #eff6ff;
}
.mail-jedi ul#side-nav li.active,
.mail-jedi ul#side-nav li ul li.active:hover {
	background-color: #daeaff;
}

/* extends ul#side-nav li strong.title */
.mail-jedi ul#side-nav li strong.title-progress {
	color: #39A0EF;
}

/* Components : Message Detail
*********************************************/
.mail-jedi #message-detail-container .inner .body {
	background-color: #EEF6FF;
}
.mail-jedi #message-detail-container .contact-name {
	color: #39A0EF;
}
.mail-jedi .message-list tr.unread .unread-badge {
	background: url(../images/skins/classic/unread-badge.png) no-repeat;
}
.mail-jedi #message-detail-container .message-envelope {
	border-color: #C7DFFF;
}
.mail-jedi .two-lined-message-list .inbox-item-contact  {
	color: #39A0EF;
}

/* Contact Token
*****************************************************/
.mail-jedi .contact-token-block {
	background-color: #E9F7FF;
	border-color: #BCE7FF;
}

/* Contact List
*********************************************/
.mail-jedi .contact-list .contact-name {
	color: #39A0EF;
}

/* Components : Real Time Stream
*********************************************/
.mail-jedi #realtime-list-container .header-bar .counter {
	color: #39A0EF;
}
.mail-jedi #realtime-list-container.ui-tabs .ui-tabs-panel {
	border-color: #CDE3FB;		
}

/* header control bar */
.mail-jedi #realtime-list-container .header-control-bar {
    border-bottom: 1px solid #D6D6D6;
}

/* realtime list */
.mail-jedi .realtime-list li.realtime-item {
	border-bottom: 1px solid #ddecff; 
}
.mail-jedi .realtime-list .realtime-item-contact a {
	color: #39a0ef;
}
.mail-jedi .realtime-list .realtime-photo {
	border: 1px solid #ddecff;
}

/* attachments list */
.mail-jedi .realtime-list .realtime-item-attachments ul li.image-item a {
	border: 1px solid #ddecff;
}

/* realtime reply */
.mail-jedi .realtime-item-reply {
	background-color:#EEF6FF;
	border-color: #C7DFFF;
}
.mail-jedi .realtime-item-reply .reply-arrow {
	background:url(../images/skins/classic/sprites_ui.png) no-repeat right -278px;
}

/* Components : Contact Profile Column
*********************************************/
.mail-jedi #contact-profile-column .inner .body {
	background-color: #EEF6FF;
}

/* .contact-profile-mail-list (extends .table-list) */
.mail-jedi .contact-profile-mail-list .contact-email {
	color: #39A0EF;
}
.mail-jedi .contact-profile-mail-list tr td {
	border-bottom: 0 none;
}

/* Components: Profile Detail 
*********************************************/
.mail-jedi #profile-container .profile-detail-list .contact-name {
	color: #39A0EF;
}

.mail-jedi #profile-container strong.list-title {
    color: #6bb8f3;
}

/* profile search */
.mail-jedi #profile-container .profile-search-container .contact-name {
	color: #39A0EF;
}

/* Social Media Hyperlink List */
.mail-jedi ul.social-media-list li a {
    background-color: #fff;
}
.mail-jedi ul.social-media-list li a:hover {
    background-color: #ebebeb;
}

/* Referral
*********************************************/
.mail-jedi #referral-container .number {
	color: #C7DFFF;
}